@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Exo+2&family=Great+Vibes&display=swap');

html {
    --s: 50px;
    --c: #191b22;
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%,#20222a 68% 70%,#0000 72%;
    background: 
      radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s), 
      radial-gradient(var(--_g) 0 75%,var(--_c)) var(--s) var(--s)/var(--_s), 
      radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s), 
      radial-gradient(var(--_g) 0 75%,var(--_c)) 0 0/var(--_s), 
      repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s), 
      radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
    background-attachment: fixed;
  }

.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    height: 98vh;
}

.header {
    margin: 100px;
    margin-top: 50px;
    margin-bottom: 0px;

    font-size: 200px;
    font-family: 'Great Vibes', cursive;
    font-weight: bold;
    font-style: italic;
    color: aliceblue;
}

.btn {
    width: 400px;
    height: 150px;

    padding: 32px;

    font-size: 22px;
    font-family: 'Didact Gothic', sans-serif;
}

.btn span {
    visibility: hidden;
}

.btn:hover span {
    visibility: visible;
}

span #fact-box {
    margin: 50px;

    background-color: rgb(46, 46, 46);
    color: aliceblue;
    padding: 10px;
}

.text-box {
    font-size: 25px;
    font-family: 'Exo 2', sans-serif;
}

/* Button CSS */
.bn632-hover {
    width: 400px;
    min-height: 150px;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bn632-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bn632-hover:focus {
    outline: none;
}

.bn632-hover.bn21 {
    background-image: linear-gradient(to right,
            #fc6076,
            #ff9a44,
            #ef9d43,
            #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}

/* Fact Box */
