@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Exo+2&family=Great+Vibes&display=swap');

.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    height: 98vh;
}

.header{
    margin: 100px;
    margin-top: 50px;
    margin-bottom: 0px;

    font-size: 200px;
    font-family: 'Great Vibes', cursive;
    font-weight: bold;
    font-style: italic;
}

.btn {
    width: 400px;
    height: 150px;

    padding: 30px;

    font-size: 22px;
    font-family: 'Didact Gothic', sans-serif;
}

.btn span{
    visibility: hidden;
}

.btn:hover span{
    visibility: visible;
}

span #fact-box{
    margin: 50px;

    background-color: rgb(46, 46, 46);
    color: aliceblue;
    padding: 10px;
}

.text-box{
    font-size: 25px;
    font-family: 'Exo 2', sans-serif;
}